<header>

<h1 class="title center">TinyApp v2</h1>
<p class="sub-title center"> url shortener </p>

<% if (!currentUser) { %>
  <div class="logged-out"></div>

<% } else { %>
  <div class="logged-in center">
    <button class="button">
      <a href="/urls/new">Create</a>
    </button>
    <button class="button">
      <a href="/urls">URL List</a>
    </button>

    <form class="inline" method="post" action="/logout">
      <button method="post" action="/logout" class="button">Logout</button>
    </form>

  </div>
<% } %>
</header>
