<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TinyApp v2</title>
  <style>
    body {
      background-color: lightblue;
    }
    a {
      text-decoration: none;
    }
    .center{
      text-align: center;
    }
    .inline{
      display: inline;
    }
    .title {
      color: grey;
    }
    .sub-title {
      color: grey;
    }
    .form-container {
      margin: 0 250px;
      padding: 25px 0px;
      box-shadow: 10px 10px grey;
      background-color: white;
    }
    .topper{
      margin-top: 75px;
    }
    .button {
      background-color: #555555; /* Green */
      border: none;
      color: white;
      margin-top: 10px;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
    .sml-button {
      background-color: #555555; /* Green */
      border: none;
      color: white;
      margin-top: 10px;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
    }
    table {
    border-collapse: collapse;
    width: 100%;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    th {
    background-color: grey;
    color: white;
    }

    tr:nth-child(even) {background-color: #f2f2f2;}
    /* tr:hover {background-color: #f5f5f5;} */


  </style>
</head>
