<header>

<h2>Welcome to TinyApp v2</h2>

<% if (!currentUser) { %>
  <div class="logged-out">Not a currentUser</div>

<% } else { %>
  <div class="logged-in">
    <a href="/urls/new">Create</a>
    <a href="/urls">Your URLs</a>
  </div>
<% } %>
</header>