<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TinyApp v2</title>
  <style>
    body {
      background-color: lightblue;
    }
    .center{
      text-align: center;
    }
    .title {
      color: grey;
    }
    .sub-title {
      color: grey;
    }
    .form-container {
      margin: 0 250px;
      padding: 25px 0px;
      box-shadow: 10px 10px grey;
      background-color: white;
    }
    .topper{
      margin-top: 75px;
    }
    .button {
      background-color: #555555; /* Green */
      border: none;
      color: white;
      margin-top: 10px;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }


  </style>
</head>
