<!DOCTYPE html>
<html lang=en>
<head>
  <title>TinyApp - Project</title>
</head>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-size: 10px;*/
  }
  body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

  a {
    text-decoration: none;
  }
  a:visited {
/*    color: yellow;
*/  }
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 2rem;
  }
  header {
    background-color: grey;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 30px;
  }
  header > * {
    /*float: left;*/
/*    border: 1px solid black;
*/
  }
  header ul {
    overflow: auto;
    list-style: none;
  }
  header li {
    float: left;
    width: 120px;
  }
  header p {
    display: inline-block;
  }
  header form {
    display: inline-block;
  }
  form {
    display: inline-block;
  }
  main {
    margin: 0 auto;
    text-align: center;
  }
  main ul{
    list-style: none;
  }

</style>