<% include ./partials/_head %>
  <body>
  <% include ./partials/_header %>

    <main>

      <div>
        <h1>Oops! You can't access that page. Try <a href="/login">logging in</a> first.</h1>
      </div>

    </main>
  </body>
</html>