<% include ./partials/_head %>
  <body>
  <% include ./partials/_header %>

    <main>

      <div>
        <h1>Oops! You don't have access to that page.</h1>
        <a href="/login">logging in</a>
      </div>

    </main>
  </body>
</html>