<% include ./partials/_head %>
<body>
<% include ./partials/_header %>


<main>

<h2 class="center topper">Please Register</h2>
  <div class="center form-container">
    <form action="/register" method="post">
      <label for="email">
        <h3 class="center">
          Email:
        </h3></label>
      <input id="email" type="email" name="email" placeholder="email@email.com" style="width: 300px">
      <br>
      <label for="password">
        <h3 class="center">
          Password:
        </h3></label>
      <input id="password" type="password" name="password" placeholder="something secret" style="width: 300px">
      <br>
      <input class="center button" type="submit" value="Submit">
    </form>
  </div>



</main>



</body>
</html>
