<!DOCTYPE html>
<html lang ="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>
  <h2>URL and its shortened form.</h2>
  <ul>
     <% Object.keys(urls).forEach(function(key) { %>
        <li> tiny.app/
          <a href="<%= urls[key] %>"> <%= key %> </a>
          --
          <a href="<%= urls[key] %>"> <%= urls[key] %> </a>
        </li>
      <% }); %>
  </ul>

  <a href="urls/new">Click here to shorten new URL</a>

</body>
</html>